page-home {

    .green {
        font-size:20px;
        font-family: Arial, Helvetica, sans-serif;
        font-style: oblique;
        background-color: rgb(0, 255, 0);
        display: block;
        min-width: 200px;
        min-height: 200px;
        height: 200px;
        width: 200px;
      }
      .red {
        font-size:20px;
        font-family: Arial, Helvetica, sans-serif;
        font-style: oblique;
        background-color: rgb(255, 0, 0);
        display: block;
        min-width: 200px;
        min-height: 200px;
        height: 200px;
        width: 200px;
      }
      .yellow {
        font-size:20px;
        font-family: Arial, Helvetica, sans-serif;
        font-style: oblique;
        background-color: rgb(255, 255, 0);
        display: block;
        min-width: 200px;
        min-height: 200px;
        height: 200px;
        width: 200px;
      }
      .gray { 
        font-size:20px;
        font-family: Arial, Helvetica, sans-serif;
        font-style: oblique;
        background-color: rgb(126, 126, 126);
        display: block;
        min-width: 200px;
        min-height: 200px;
        height: 200px;
        width: 200px;
      }
      .col{
        font-family: Arial, Helvetica, sans-serif;
        font-style: oblique;
        font-size:20px;
      }


}
